<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        안녕하세요. 채팅 프로그램 입니다!
    </div>

    <form id = "login-form" action="/login" method="post">
        <input type="text" placeholder="아이디" name="loginId"/>
        <input type="text" placeholder="비밀번호" name="password"/>
        <button class="button" type="submit">로그인</button>
    </form>

    혹시 아직 회원이 아니십니까??
    <form action="/sign-up" method="post">
        <input type="text" placeholder="아이디" name="loginId"/>
        <input type="text" placeholder="비밀번호" name="password"/>
        <input type="text" placeholder="이름" name="name"/>
        <button class="button" type="submit">회원가입</button>
    </form>
    <script>
    </script>
</body>
</html>